body
{
  padding: 0px;
  margin: 0px ;
  color: rgb(43, 32, 32);
  background-color: rgb(255, 255, 255);
}
button
{
  cursor: pointer;
}

.nav
{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  font-family: sans-serif;
}
.links a
{
  text-decoration: none;
  color: rgb(161, 157, 157);
  
}
.links a:hover
{
 
  color: rgb(255, 255, 255);
  
}
.links
{
  display: flex;
  align-items: center;
  gap: 20px;
}
a.active
{
  color: rgb(255, 255, 255);
}

.history-container
{
  display: flex;
  padding: 50px;
}




.history-container button
{
  width: max-content;
  height: max-content;
  border: none;
  background-color: rgb(19, 23, 23);
  color: white;
  padding:  5px 20px;
  border-radius: 3px;
}
.history-container button:hover
{
  background-color: #6f6e6e;
}
.history-container a
{
 text-decoration: none;
 color: rgb(43, 32, 32);

}
.search-container
{
  padding: 10px;
  
  display: flex;
  justify-content: center;
  gap: 10px;
}
.search-container input
{
  border: none;
  padding: 5px 10px;
  border-bottom: 0.5px solid rgb(43, 32, 32) ;
  outline: none;
}
.search-container button
{
  background-color: #1f1d1d;
  padding: 5px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.word-list
{
  display:flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
 
}
.word-item
{
  display:flex;
  align-items: center;
  gap: 20px;
}
.word-item p
{
  font-family: sans-serif;
  font-size: 1.5rem;
}
.word-item button
{
  background-color: rgb(36, 34, 34);
}
.main
{
  padding-inline: 50px;
  text-shadow: 0.5px 0px 1px rgba(0, 0, 0, 0.615);
  font-family: sans-serif;
}
.title
{
  font-size: 30px;
}
.paras p
{
  color: #1f1d1d;
}
.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  top: 50%;
  left: 48%;
  
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem #007bff );
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #003dc0;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #ff0000;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
    
@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}